body {
    background: linear-gradient(45deg, #040C1A,#071633,#114899);
    background-size: 200% 200%;
    animation: bggradient 20s ease infinite;
    color: #2CDDFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #2CDDFA;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    color: #040C1A;
}

h1 {
    color: #000000;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    width: 100%;
    height: calc(100vh - 50px);
    padding-top: 60px;
}

.button {
    border: solid 2px #2CDDFA;
    border-radius: 15px;
    background-color: #2CDDFA;
    color: #040C1A;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    transition: all 0.2s;
}

.button:active {
    background-color: #1895A9;
    transform: scale(0.95);
}

#textDisplay {
    border: solid 2px #2CDDFA;
    padding: 50px;
    font-size: 1.2em;
    min-height: 100px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2CDDFA;
}

#textArea {
    width: 600px;
    text-align: center;
    color: #2CDDFA;
    font-weight: bold;
}

#lineButtons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

progress[value] {
    /* デフォルトの見た目をリセット */
    -webkit-appearance: none;
    appearance: none;
  
    /* サイズを設定 */
    width: 40%;
    height: 20px;
  
    /* 色を設定 */
    color: #2CDDFA; /* 進捗バーの色 */
    background-color: #040C1A; /* 進捗バーの背景色 */
}

/* ChromeとSafariに必要な設定 */
progress[value]::-webkit-progress-bar {
    background-color: #040C1A; /* 進捗バー全体の背景色 */
}

progress[value]::-webkit-progress-value {
    background-color: #2CDDFA; /* 実際の進捗色 */
}

/* Firefoxに必要な設定 */
progress[value]::-moz-progress-bar {
    background-color: #2CDDFA; /* 実際の進捗色 */
}